<form>
  <div class="card">
     <div class="row">
      <div class="col">
      <h1 style="color:violet;text-align: center;">Contact Our</h1>
      <h3 style="text-align:left;">Customer Support Center</h3>
      </div>
      <div class="col">
        <img src="assets/laptop.PNG" style="float:right;">
      </div>
    </div>
    <br>
    <br>
    <div style="text-align: center;">
    <h4>Contact Information</h4>
    <label >Please fill out your contact information below</label>
    </div>
    <br>
    <br>
    <div class="input-group">
      <div class="col-md-4 mb-3">
        <label for="inputName" style="display:inline-block;">Name</label>
        <label style="color:violet; font-weight: bold;">*</label>
        <input type="email" class="form-control" id="inputEmail" style="display:inline-block;">
        <label style="display:inline-block;font-size:12px;">First Name</label>
      </div>
      <div class="col-md-1 mb-3">
      </div>
      <div class="col-md-4 mb-3">
        <label style="color:violet; font-weight: bold; visibility: hidden;">*</label>
        <input type="text" class="form-control" id="inputLastName" style="display:inline-block;">
        <label style="display:inline-block;font-size:12px;">Last Name</label>
      </div>
   </div>
   <div class="col-md-16 mb-3">
        <label for="inputAddress">Email</label>
        <label style="color:violet; font-weight: bold;">*</label>
        <input type="email" class="form-control" id="inputEmail">
    </div>
    <div class="col-md-16 mb-3">
        <label for="inputAddress">Address</label>
        <label style="color:violet; font-weight: bold;">*</label>
        <input type="text" class="form-control" id="inputAddress">
    </div>
    <div class="col-md-16 mb-3">
      <label for="inputAddress">Phone</label>
      <label style="color:violet; font-weight: bold;">*</label>
      <input type="text" class="form-control" id="inputAddress">
    </div>
   <br>
   <br>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button type="submit" class="btn btn-primary btn-lg" style="background-color:#8c0073; font-size: 30px;box-shadow: 0px 7px #888888; border-color:8c0073 ;" >SUBMIT FORM</button>
    </div>
</div>
</form>